@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto+Mono:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

:root {
  --orange: #e65a0c;
  --hover-orange: #f36a10;
  --teal: #4b7e7b;
  --white: #fff;
  --black: #000;
  --grey: #818386;
  --link-font-size: 1.2rem;
  --dropdown-font-size: 1.3rem;
  --logo-font-size: 3rem;
  --logo-font-family: "Caprasimo", cursive;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.primary-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: black;
}

.toolbar {
  display: flex;
  flex-direction: row;
  z-index: 1000;
  width: 100%;
  height: 5.5rem;
  background-color: var(--white);
  align-items: center;
  justify-content: space-between;
  padding-left: 10rem;
  padding-right: 8rem;
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  font-size: var(--logo-font-size);
  font-weight: 1000;
  font-family: var(--logo-font-family) !important;
  letter-spacing: 2px;
  background: linear-gradient(to right, var(--orange), var(--teal));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.links-container {
  display: flex;
  flex-direction: row;
}

.toolbar-link {
  color: var(--grey);
  font-size: var(--link-font-size);
  text-decoration: none;
  padding: 0.8rem;
}

.toolbar-link:hover {
  color: var(--hover-orange);
  transform: scale(1.02);
}

.dropdown-icon {
  display: none;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  gap: 0.3rem;
  border: 1px solid var(--grey);
  position: absolute;
  z-index: 1500;
  background-color: var(--white);
  top: 3.2rem;
  right: 1.8rem;
  border-width: 1px;
  box-shadow: var(--shadow, 0 0 #0000), var(--shadow, 0 0 #0000), var(--tw-shadow);
}

.hide {
  display: none;
}

.dropdown-link {
  color: var(--grey);
  font-size: var(--dropdown-font-size);
  text-decoration: none;
}

.d-container {
  width: 100%;
  min-height: 100vh;
  background-color: red;
}

.main {
  background: url("https://i.imgur.com/4GH8KNo.jpg") no-repeat center center;
  background-size: cover;
  text-align: center;
  margin-top: 5.5rem;
}

.moto {
  font-size: 2.3rem;
  letter-spacing: 1px;
  color: var(--white);
  margin-top: 28rem;
}

.demo-btn {
  font-size: 1rem;
  letter-spacing: 1px;
  color: var(--white);
  padding: 0.5rem 2.5rem;
  border: 1px solid var(--white);
  border-radius: 100px;
  background: none;
  margin-top: 15rem;
}

.demo-btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
}

.who-we-are {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--white) !important;
  color: var(--grey) !important;
  padding: 2rem;
}

.wwa-container-1 {
  display: flex;
  flex-direction: column;
  width: 65rem;
  height: auto;
}

.wwa-container-2 {
  font-size: 2.9rem;
  color: var(--grey);
  font-weight: 500;
  text-align: center;
}

.wwa-container-3 {
  display: flex;
  flex-direction: row;
  margin-top: 2.8rem;
  gap: 1rem;
}

.wwa-container-3-left {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-right: 1.9rem;
}

.wwa-text-1 {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--grey);
}

.wwa-text-2 {
  font-size: 1.3rem;
}

.wwa-text-3 {
  font-size: 1.1rem;
  font-weight: 500;
}

.wwa-btn {
  font-size: 1rem;
  width: 13rem;
  background: none;
  color: inherit;
  padding: 0.6rem 0.2rem;
  border-radius: 50px;
  border: 1px solid var(--grey);
  transition: all 0.2s;
}

.wwa-btn:hover {
  cursor: pointer;
  color: var(--white);
  background-color: var(--grey);
}

.wwa-container-3-right {
  flex: 1;
}

/* media queries */
@media (max-width: 1023px) {
  .toolbar {
    padding-left: 2rem;
    padding-right: 1.7rem;
  }
  .links-container {
    display: none;
  }

  .dropdown-icon {
    display: inline;
  }

  .wwa-container-1 {
    margin-top: 5rem;
  }

  .wwa-container-2 {
    font-size: 3.4rem;
  }

  .wwa-container-3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .wwa-container-3-left {
    text-align: center !important;
    justify-content: center;
    align-items: center;
  }

  .wwa-text-1 {
    width: 32rem;
  }

  .wwa-btn {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
